# Auto detect text files and perform LF normalization
* text=auto

# Fix syntax highlighting on GitHub to allow comments
.vscode/*.json linguist-language=JSON-with-Comments

# Julia
*.jl linguist-language=Julia

# Documents
*.md       text diff=markdown
*.txt      text

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text
